footer {
  background-color: rgb(3, 163, 223);
  background-image: url("../images/footerImage.jpg");
  background-size: auto;
  font-family: arial;
  color: white;
  padding-left: 10%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-image {
  /* padding-top: 4rem; */
  padding-bottom: 1rem;
}

nav {
  grid-column-start: 3;
}

.nav-list-footer {
  padding-left: 0rem;
  list-style-type: none;
}

.no-left-pad {
  padding-left: 0rem;
}
