header {
  background-color: rgb(3, 163, 223);
  font-family: arial;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.header-image {
  grid-column-start: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  grid-column-start: 3;
}

.nav-list {
  float:right;
  list-style-type: none;
}

.nav-list-item {
  display: inline;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-list-item a {
  text-decoration-line: none;
  color: white;
  font-size: larger;
}

.nav-list-item:hover {
  text-decoration-line: underline;
}
